@media screen and (max-width: 480px) {
    .inner {
        width: 92%;
        padding: 10px 0;
    }
    .txt {
        margin-bottom: 30px;
    }
    .slider img {
        width: 70vw;
    }
    .br-fax {
        display: block;
    }
    .hero {
        &__info {
            &-sp {
                margin: 80px auto -50px;
            }
        }
    }
    .pr-wrap {
        padding-bottom: 0;
    }
    .footer {
        &__scroll {
            &-a {
                &-sp {
                    bottom: 560px;
                    right: 20px;
                }
            }
        }
        &__ul {
            text-align: center;
            justify-content: center;
            padding: 50px 0;
        }
        &__li {
            width: 45%;

            &:nth-child(5),
            &:nth-child(6) {
                margin-bottom: 0px;
            }

            & a {
                font-size: 17px;
            }
        }

        &__logo {
            &-wrap {
                margin-bottom: 7px;
                margin-right: 20px;
            }
        }

        &__add {
            font-size: 12px;
        }

        &__person {
            width: 90px;
            top: -85px;
            right: 90px;

            & img {
                width: 100%;
            }
        }
    }
    .in {
        &__panel {
            &-txt {
                font-size: 24px;
            }
        }
    }
    .bread {
        &__ul {
            margin-bottom: 30px;
            margin-left: 20px;
        }
    }
    .message {
        &__person01 {
            &-sp {
                top: -75px;
                width: 360px;
            }
        }
    }

    .top-news {
        margin-top: 0;
        &__person {
            &-sp {
                & img {
                    width: 160px;
                }
            }
        }
    }
}
