@media screen and (max-width: 600px) {
    .header {
        height: 70px;
    }

    .header-sec {
        height: 70px;
    }
    .logo-top {
        height: 70px;
    }

    .top {
        padding-top: 70px;
        background-size: 200% auto;
    }
    .hero {
        padding-top: 70px;
    }

    .in {
        &__panel {
            &-img {
                & img {
                    object-fit: cover;
                }
            }
        }
    }
    .top-ttl-en {
        margin-bottom: 50px;
    }
    .pager {
        padding: 40px 0 20px 0;
    }
}
