@media screen and (max-width: 780px) {
    .panel {
        &__wrap {
            flex-direction: column-reverse;
            align-items: center;
            padding: 50px 0 0 0;
        }

        &__ttl {
            &-sp {
                display: block;
                text-align: center;
                padding: 90px 0 0 0;
            }
        }

        &__ja {
            &-sp {
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 0.26rem;
            }
        }

        &__en {
            &-sp {
                font-size: 18px;
                font-family: "Lato", sans-serif;
                color: #9bb2cc;
                letter-spacing: 0.26rem;
            }
        }

        &__left {
            width: 90%;

            &-wrap {
                display: none;
            }

            &-name {
                text-align: center;
            }
        }
        &__right {
            width: 90%;
        }
    }

    .footer {
        &__scroll {
            display: none;
            &-sp {
                display: block;
            }

            &-a {
                &-sp {
                    position: fixed;
                    right: 50px;
                    width: 50px;
                    z-index: 50;
                }
            }
        }
        &__ul {
            flex-wrap: wrap;
            justify-content: end;
            padding: 50px 0;
        }
        &__li {
            border-right: 0;
            width: 45%;
            padding: 0;
            margin-bottom: 30px;
            &:nth-child(5),
            &:nth-child(6) {
                margin-bottom: 0;
            }

            & a {
                font-size: 22px;
            }
        }

        &__under {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            margin-bottom: 30px;
        }
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 2;
    }
    .order3 {
        order: 3;
    }
    .order4 {
        order: 4;
    }
    .order5 {
        order: 5;
    }
    .order6 {
        order: 6;
    }

    //companyページ
    .top-ttl {
        padding: 40px 0 0 0;
    }

    //institutionページ
    .in {
        &__panel {
            &-img {
                height: 300px;
            }
        }
    }
    .wh-100 {
        width: 100px;
    }
}
