body {
  font-family: "Noto Sans JP", sans-serif;
  color: #565352;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #57524d;
  &:hover {
    color: #57524d;
    text-decoration: none;
  }
}
//共通パーツ
.fofa-lato {
  font-family: "Lato", sans-serif;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 18px;
}
.font-lr {
  font-size: 30px;
}
.font-lg {
  font-size: 36px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-md {
  margin-bottom: 40px !important;
}
.mb-lg {
  margin-bottom: 85px !important;
}

.content-width {
  width: 100%;
  margin: 0 auto;
  max-width: 1630px;
}

.main-txt {
  font-size: 14px;
  line-height: 2;
}

// ２ページ以降共通パーツ
.top {
  background-position: 0 70px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 80px;
  position: relative;

  // &::after {
  //   content: "";
  //   display: block;
  //   padding-top: 20%;
  // }

  &-ttl {
    // position: absolute;
    // top: 90px;
    // left: 50%;
    // transform: translate(-50%, 90px);
    // text-align: center;
    letter-spacing: 0.26rem;
    // font-weight: bold;
    text-shadow: #fff 1px 0 10px;
    padding: 90px 0 53px 0;
    text-align: center;

    &-ja {
      font-size: 26px;
      margin-bottom: 0;
    }
    &-en {
      font-style: 18px;
    }
  }
}

.inner {
  background-color: #fff;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 22px;

  &__top {
    text-align: center;
    &-img {
      width: 30px;
      margin: 0 auto 40px;
      & img {
        width: 100%;
      }
    }
    &-ttl {
    }
    &-txt {
      line-height: 2;
      font-size: 14px;
    }
  }

  &__person {
    position: relative;
    top: 60px;
  }

  &__person01 {
    position: absolute;
    bottom: 0;
    left: 50px;
  }
  &__person02 {
    position: absolute;
    bottom: 0;
    right: 50px;
  }
}

.bread {
  &__ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 12px;
  }
  &__li {
    list-style: none;
    padding-right: 15px;
  }
}

.br-fax {
  display: none;
}

// 各ページタイトル
.top-ttl {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 9px;
}
.top-ttl-en {
  font-size: 18px;
  @extend .fofa-lato;
}
.ttl {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  letter-spacing: 0.18rem;
  margin-bottom: 40px;
}
.txt {
  font-size: 14px;
  text-align: center;
  line-height: 2;
}

// 各ページsectionタイトル,テキスト
.section-ttl {
  font-size: 18px;
  font-weight: bold;
  @extend .mb-md;
}
.section-txt {
  font-size: 14px;
  line-height: 2;
}

//ロゴサイズ
.logo > img {
  width: 140px;
}

#global-container {
  overflow: hidden;
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

// トップページのロゴ
.logo-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding: 0 30px 0 30px;
  & > img {
    width: 140px;
    margin-right: 13px;
  }
}
.logo-wrap {
  display: flex;
  flex-direction: column;
}

.logo-ttl {
  font-size: 12px;
  margin-bottom: 3px;
  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    border-right: 1px solid #1e0e07;
    padding-right: 32px;
    padding-left: 32px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      position: relative;
      top: 13px;
    }

    &:nth-child(4),
    &:nth-child(5) {
      border-right: 0;
      padding-right: 0;
    }
  }

  &__a {
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background: #9bb2cc;
      bottom: -1px; /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
      visibility: hidden;
    }

    &:hover::after {
      visibility: visible;
    }
    &:hover {
      color: #9bb2cc;
    }
  }
  &__tel {
    position: absolute;
    top: 5px;
    right: 225px;

    & > a {
      font-size: 20px;
      font-weight: bold;
      & > span {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

.hero {
  background-image: url(../images/top/hero-img.png);
  background-position: bottom 50px right 200px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  &::after {
    content: "";
    padding-top: 50%;
    display: block;
  }

  & > img {
    width: 42%;
    position: absolute;
    top: 140px;
    right: 20px;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 800px;
    background-color: #9bb2cc;
    color: #fff;
    text-align: center;
    padding: 22px 0;
    border-radius: 9px;

    &-ttl {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 3px;
    }
    &-ttlsec {
      font-size: 14px;
      color: #fff;

      &:hover {
        color: #fff;
      }

      & img {
        margin-bottom: 3px;
      }
    }

    &-sp {
      display: none;
    }
  }
}

.center {
  width: 55%;
  margin: 100px auto;
  max-width: 1200px;
  text-align: center;

  &-ttl {
    margin-bottom: 40px;
    letter-spacing: 0.26rem;
  }
}
.message {
  background-image: url(../images/top/main-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;

  &__person01 {
    position: absolute;
    top: -125px;
    left: 50px;

    &-sp {
      display: none;
    }
  }
  &__person02 {
    position: absolute;
    top: -115px;
    right: 50px;
  }

  &__inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
  }
}

.panel {
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 110px;
  }

  &__ttl {
    &-sp {
      display: none;
    }
  }

  &__left {
    width: 43%;

    &-wrap {
      display: flex;
      align-items: center;
    }

    &-ttl {
      font-size: 30px;
      margin-right: 35px;
      letter-spacing: 0.26rem;
    }
    &-en {
      font-size: 18px;
      color: #9bb2cc;
      font-weight: bold;
      @extend .fofa-lato;
      letter-spacing: 0.26rem;
    }

    &-txt {
      font-size: 14px;
      line-height: 2;
      text-align: left;
      margin-top: 30px;
    }

    &-name {
      text-align: right;
    }
  }
  &__right {
    width: 40%;
    &-img {
      height: 330px;

      & img {
        height: 100%;
      }
    }
  }
}

.top-news {
  position: relative;
  margin-top: 95px;
  // background-image: url(../images/top/main01.png);
  // background-position: bottom 50px right 0px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 80%;

  // &::after {
  //   content: "";
  //   display: block;
  //   padding-top: 70%;
  // }

  &__img {
    text-align: right;

    &-sp {
      display: none;
    }

    & img {
      position: relative;
      bottom: 30px;
    }
  }

  &__sp {
    display: none;
  }

  &__panel {
    width: 55%;
    padding: 52px 83px 0px 180px;
    background-color: #9bb2cc;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__person {
    position: absolute;
    top: -115px;

    &-sp {
      display: none;
    }
  }

  &__ttl {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-right: 35px;
    letter-spacing: 0.26rem;
  }

  &__en {
    font-size: 18px;
    @extend .fofa-lato;
    color: #fff;
    letter-spacing: 0.26rem;
  }

  &__ul {
    margin: 0;
    padding: 0;
  }

  &__li {
    list-style: none;
    margin: 10px 0;

    & a {
      margin-top: 10px;
      color: #fff;
      font-size: 13px;
    }
    & span {
      color: #fff;
    }

    & img {
      width: 20px;
    }

    & time {
      padding: 0 22px 0 9px;
    }
  }

  &__more {
    text-align: right;

    &-sp {
      display: none;
    }

    & a {
      font-size: 12px;
      color: white;
      padding: 40px 0 25px 0;
      display: inline-block;

      & img {
        width: 7px;
        margin-left: 20px;
        margin-bottom: 3px;
      }
    }
  }
}

.footer {
  margin-top: 100px;
  &__scroll {
    text-align: right;

    &-sp {
      display: none;
    }

    &-a {
      position: fixed;
      bottom: 250px;
      right: 50px;
      z-index: 50;
    }

    & a img {
      width: 41px;
    }
  }

  &__nav {
    position: relative;
  }

  &__person {
    position: absolute;
    top: -115px;
    right: 200px;
  }

  &__ul {
    margin: 0;
    padding: 28px 0;
    background-color: #57524d;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__li {
    list-style: none;
    color: #fff;
    padding: 0 32px;
    border-right: 1px solid #fff;

    &:last-child {
      border-right: 0;
    }

    & a {
      color: #fff;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__under {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-wrap {
      margin-right: 26px;
      & > img {
        width: 154px;
      }
    }
  }

  &__com {
    font-size: 11px;
  }

  &__add {
    font-size: 13px;

    & > div {
      padding-bottom: 2px;
    }
  }

  &__copy {
    font-size: 11px;
  }
}
