.btn {
  background-color: #9bb2cc;
  color: #fff;
  height: 80px;
  display: block;
  width: 180px;
  line-height: 80px;
  text-align: center;
  border-bottom-left-radius: 9px;
  margin-left: 15px;

  &:hover {
    color: #fff;
    opacity: 0.7;
  }

  &-back {
    background-image: url(../images/contact/yajirushi_b.png) !important;
    background-color: #fff !important;
    color: #9bb2cc !important;
    height: 80px;
    display: block;
    width: 180px;
    line-height: 80px;
    text-align: center;
    border: #fff;
    border-bottom-left-radius: 9px;
    margin-left: 15px;

    &:hover {
      opacity: 0.7;
    }
  }
}
